.main {
    display: flex;
    flex-direction: column;
    padding: 6rem 12rem 6rem 12rem;
    line-height: 1.5;
    align-items: center;
    justify-content: space-between;
  }

  .blogitem{
    margin:10px;
    padding: 10px;
  }

  .blogitem h3{
    cursor: pointer;
  }